@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;500&family=Roboto:wght@300&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Roboto:wght@300&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
:root {
    --primary-color: #8ca9d5ff;
    --secondary-color: #566069ff;
    --accent1-color: #9aa6b7ff;
    --accent2-color: #222e31ff;

    --heading-font: '_____', Karma;
    --paragraph-font: '_____', serif;

    --nav-background-color: #939c4e;
    --nav-link-color: black;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: gray;

}

/* Begin by styling the headings and paragraph elements.
Add colors to the fonts.
Remove the underlines from the social media links.
Consider limiting the entire width of the page to make it easier to design the content. */

/* * {
    max-width: 960px;
} */

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    align-content: space-between;
    margin: 1rem;
}

header img {
    width: 100px;
    height: auto;
    padding-left: 2rem;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;
    background-color: var(--secondary-color);
}

.navigation {
    display: flex;
    list-style: none;
    margin: 1rem;
    grid-column-start:-2;
}

nav {
    text-align: center;
}

nav a {
    width: 100%;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
    text-align: center;
}

.hero h1 {
    font-family: var(--heading-font);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
}

.overlay {
    background-color: rgba(86, 96, 105, 0.701);
    font-family: var(--paragraph-font);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    padding: 0.5rem;
}

.overlay img {
    width: auto;
    height: 100px;
    float: right;
    padding: 1rem;
}

.history {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-content: center;
    justify-items: center;
}

.carousel h2 {
    grid-row: 1;
    grid-column: 3;
}

figure {
    display: flex;
    flex-flow: column;
    width: auto;
    height: 50px;
    grid-row: 2;
    padding: 5px;
    max-width: 150px;
}

figcaption {
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

footer img {
    width: 50px;
    height: 50px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

footer {
    display: flex;
    gap: 20px;
    justify-content: right;
    justify-items: right;
    padding-top: 5rem;
    padding-bottom: 1rem;
}
/* Last Modified 10/6/2023 */