@import url('https://fonts.googleapis.com/css2?family=serif&family=Karma&display=swap');

:root {
    --primary-color: #8ca9d5ff;
    --secondary-color: #566069ff;
    --accent1-color: #9aa6b7ff;
    --accent2-color: #222e31ff;

    --heading-font: '_____', Karma;
    --paragraph-font: '_____', serif;

    --nav-background-color: #939c4e;
    --nav-link-color: black;
    --nav-hover-link-color: blue;
    --nav-hover-background-color: gray;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}