@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;500&family=Roboto:wght@300&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300&family=Roboto:wght@300&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: karma;
    font-size: 1.2rem;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0, 1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

label, input, button, select, textarea {
    font-family: karma;
}

label {
    text-align: left;
    padding: 0.2rem;
}

input, select, textarea {
    padding: 0.2rem;
    font-size: 1.1rem;
}

input[type="integer"] {
    width: 5rem;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.q1, .q2, .q3, .q4 {
    font-weight: bold;
}

